@CHARSET "UTF-8";

/* Whole right content window */
.main-window>section {
    position: fixed;
    top: 0px;
    left: 280px;
    bottom: 36px;
    right: 0px;
    padding: 0 20px 0px 20px;
    overflow: auto;
}

/* Top bar  */
#top-bar {
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    -webkit-flex-flow: row;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.top-box {
    display: flex;
    display: -webkit-flex;
    align-items: stretch;
    -webkit-align-items: stretch;
    flex-direction: row;
    -webkit-flex-direction: row;
    height: 29px;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 0 0 7px 7px;
    padding: 8px 10px 11px 13px;
    margin-bottom: 0px;
}

#add-task-form {
    margin-right: 12px;
    flex: 1;
    -webkit-flex: 1;
}

#add-task-form input[type=text] {
    margin-right: 10px;
    margin-bottom: 0px;
    height: 29px;
    flex: 1;
    -webkit-flex: 1;
}

#add-task-form input[type=submit] {
    width: 12%;
    min-width: 50px;
}

#view-bar button.btn-workview {
    width: 120px;
}

#view-bar button.dropdown-toggle {
    height: 30px;
}

/* Tasks table */
.box {
    margin-top: 13px;
    padding: 8px 0 8px 0;
    background-color: rgba(255, 255, 255, .75);
    border-radius: 7px;
}

/* Task tick  */
.tabular-list .taskTick {
    height: 29px;
    width: 37px;
    background: url('../static/img/task/task_tick_empty.png') no-repeat top right;
    cursor: pointer;
}

.tabular-list .taskFinished .taskTick  {
    background-image: url('../static/img/task/task_tick_ticked.png');
}

.tabular-list .taskTick:HOVER {
    background-image: url('../static/img/task/task_tick_ticked.png');
}

.tabular-list .taskTitle {
    flex: 1;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tabular-list .taskFinished {
    color: red;
}

/* Task title */
.tabular-list .taskFinished .taskTitle {
    text-decoration: line-through;
}


/* Task due date */
.tabular-list .taskDueDate {
    color: #666666;
}

.tabular-list .taskAction {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

.tabular-list .taskSubtask {
    background-image: url('../static/img/task/task_subtask.png');
}

.tabular-list .taskSubtask:HOVER {
    background-image: url('../static/img/task/task_subtask_active.png');
}

.tabular-list .taskEdit {
    background-image: url('../static/img/task/task_edit.png');
}

.tabular-list .taskEdit:HOVER {
    background-image: url('../static/img/task/task_edit_active.png');
}

.tabular-list .taskDel {
    background-image: url('../static/img/task/task_del.png');
}

.tabular-list .taskDel:HOVER {
    background-image: url('../static/img/task/task_del_active.png');
}

/* Tags in tasks */
.tabular-list .taskTags {
    width: 58px;
}

.tabular-list .taskTags .tagIcon {
    margin-right: 4px;
    display: inline-block;
    vertical-align: middle;
}

.tabular-list .taskFinished {
    text-decoration: line-through;
}


#taskFullEditTextArea {
    width: 100%;
    min-height: 150px;
}