@CHARSET "UTF-8";
@import url("sidebar.css");
@import url("content.css");
@import url("modal-edit.css");

html {
    font-size: 10pt;
    color: #323232;
    font-family: Verdana;
}

body {
    margin: 0;
    background: url('../static/img/backgrounds/purty_wood.png');
}


body>footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 35px;
    display: block;

    text-align: right;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;

    background-color: #121212;
    box-shadow: 0 0 7px black;

    background-image: linear-gradient(bottom, rgb(0,0,0) 0%, rgb(46,46,46) 100%);
    background-image: -o-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(46,46,46) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(46,46,46) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(46,46,46) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(46,46,46) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(0,0,0)),
        color-stop(1, rgb(46,46,46))
    );
}

#logout-link {
    margin-right: 10px;
}

/* angular fix for angular bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }