@CHARSET "UTF-8";

.main-window>nav {
    width: 280px;
    margin-right: 20px;
}

#left-sidebar {
    background-color: #f4f5f7;
    position: fixed;
    height: 100%;
    box-shadow: 8px 0 12px black;
}


/* Search form */
#search-form {
    display: block;
    padding: 15px 20px;
    border-bottom: 1px solid #969696;
    margin: 0;
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
}

#search-form .input {
    height: 28px;
    padding-left: 10px;
    background: white;
    border: 1px solid #646464;
    margin: 0;
    border-radius: 0;

}

#search-form input#search-field {
    border-right: 0;
    width: 205px;
    float: left;
}

#search-form #search-button {
    border-left: 0;
    width: 30px;
    background: url('../static/img/magnifier.png') no-repeat center;
}


/* Tag icons  */

.tagIcon {
    width: 15px;
    height: 15px;
    border: 1px solid #b4b4b4;
    border-radius: 3px;
    margin-right: 15px;
}

#all-tags-element .tagIcon {
    background-image: url('../static/img/all_tasks_icon.png');
}

#without-tags-element .tagIcon {
    background-image: url('../static/img/without_tags_icon.png');
}


/* Tags list and elements  */

.main-window>nav ul {
    padding: 0;
    margin: 0;
    font-size: 11pt;
}

#tagsBox ul li {
    width: 267px;
    display: flex;
    display: -webkit-flex;
    padding: 11px 0px 11px 13px;
    border-bottom: 1px solid #e7e7e7;
    cursor: pointer;
}


.active-tag {
    background-color: #f5af39;
}