<form>
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">×</button>
        <h3>Edit task</h3>
    </div>
    <div class="modal-body task-edit">
        <input type="text" placeholder="Task title" ng-model="task.title" focus-element />
        <textarea placeholder="You can put additional description here" ng-model="task.description"></textarea>
        <input type="text" placeholder="space separated tags" ng-model="task.tags" ng-value="name" />
        <div style="display: flex; flex-flow: row wrap; justify-content: space-around;">
            <div style="flex: 1; padding-right: 15px;">
                <label for="startDate">Starting on</label>
                <input id="startDate" name="startDate" type="text" datepicker-popup class="form-control" ng-model="task.startDate" />
            </div>
            <div style="flex: 1; padding-right: 9px;">
                <label for="dueDate">Due for</label>
                <input id="dueDate" name="dueDate" type="text" datepicker-popup class="form-control" ng-model="task.dueDate" close-text="Close" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" type="reset" ng-click="cancel()">Close</button>
        <button class="btn btn-primary" type="submit" ng-click="ok(task)">Save changes</button>
    </div>
</form>