<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../bower_components/bootstrap-switch/build/css/bootstrap3/bootstrap-switch.min.css"/>
    <link rel="stylesheet" href="../style/tabular-list.css"/>
    <link rel="stylesheet" href="../style/main.css"/>

    <title>GTWeb - New Better Best</title>
</head>
<body>


<div class="main-window" ng-app="GTWeb">
    <nav id="left-sidebar" ng-controller="TagsCtrl">
        <form id="search-form">
            <input type="text" placeholder="Search" id="search-field" class="input"/>
            <input type="submit" id="search-button" class="input" value=""/>
        </form>
        <div style="clear: both;"></div>
        <div class="tags-box">
            <ul class="tags-list">
                <tag name="All tags">All tags</tag>
                <tag name="Tasks without tags">Tasks without tags</tag>
                <tag ng-repeat="tag in tags" ng-model="tag" context-menu-toggle="#tag-edit-context-menu-{{ tag.id }}" >
                    {{ tag.name }}
                    <div class="tag-edit-context-menu" id="tag-edit-context-menu-{{ tag.id }}">
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                            <li><a tabindex="-1" href="#" ng-click="editTag(tag)">Edit tag</a></li>
                            <li><a tabindex="-1" href="#" ng-click="removeTag(tag)">Remove tag</a></li>
                        </ul>
                    </div>
                </tag>

            </ul>
        </div>
    </nav>
    <section id="body" ng-controller="TasksCtrl">
        <div>
            <div id="top-bar">
                <form id="add-task-form" class="top-box" name="task" action="" method="POST" accept-charset="utf-8">
                    <input placeholder="What about creating a new task?" type="text" name="taskInput"/>
                    <input type="submit" value="Add" class="btn btn-warning"/>
                </form>

                <div id="view-bar" class="top-box btn-group">
                    <button type="button" ng-model="workview" class="btn btn-warning btn-workview" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                        Work View
                    </button>
                    <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li id="show-finished-tasks-button"><a href="#">Show finished tasks</a></li>
                        <li id="test-button"><a href="#">Something else</a></li>
                        <li id="show-unfinished-tasks-button" style="display: none;">
                            <a href="#">Show unfinished tasks</a>
                        </li>
                    </ul>
                </div>

            </div>

            <!-- Nested list template -->
            <script type="text/ng-template" id="table_renderer.html">
                <span>
                    <cell class="taskTick" ng-click="taskFinished(task)"></cell>
                    <cell class='taskTags'><tag-icon ng-repeat='tag in task.tags' ng-model="tag"></tag-icon></cell>
                    <cell class="taskTitle main-column" quick-edit ng-model="task.title" ng-change="updateTask(task)">{{ task.title }}</cell>
                    <cell class="taskDueDate">{{ task.dueDate | date: 'dd-MM-yyyy' }}</cell>
                    <cell class="taskAction taskEdit" ng-click="openEdit(task)"></cell>
                    <cell class="taskAction taskSubtask" ng-click="createSubtask(task); expand()"></cell>
                    <cell class="taskAction taskDel" ng-click="removeTask(task)"></cell>
                </span>
                <div>
                    <tablist>
                        <row ng-repeat="task in task.subtasks" ng-class="{'taskFinished': task.finished}" ng-include="'table_renderer.html'"
                             droppable="task.subtasks" draggable="task">
                        </row>
                    </tablist>
                </div>
            </script>

            <div class="box">
                <tablist indent="15" expanded="false">
                    <li droppable="tasks" style="height: 10px;"></li>
                    <row ng-repeat="task in tasks" ng-class="{'taskFinished': task.finished}"
                         droppable="task.subtasks" draggable="task" ng-include="'table_renderer.html'">
                    </row>
                    <li droppable="tasks" style="height: 10px;"></li>
                </tablist>
            </div>
        </div>
    </section>
</div>
<footer>
    
</footer>



<script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="../bower_components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<script type="text/javascript" src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/tags.js"></script>
<script type="text/javascript" src="../js/tasks.js"></script>
<script type="text/javascript" src="../bower_components/tabularlist/js/tablist.js"></script>
<script type="text/javascript" src="../bower_components/momentjs/min/moment.min.js"></script>
<script type="text/javascript" src="../js/bootstrap-contextmenu.js"></script>
<script type="text/javascript" src="../bower_components/bootstrap-switch/build/js/bootstrap-switch.min.js"></script>

</body>
</html>